<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SoundSee</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrapQ.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SoundSee.styles.css" asp-append-version="true" />
</head>
<body>

    <div class="container body-content">
        @RenderBody()

        <footer class="mt-2 footer fixed-bottom">
            <nav class="navbar navbar-light mt-0" id="topSignedInBar">
                <form action="@Url.Action("ContinUserToWelcome", "User")" method="post">
                    <button type="submit" class="navbar-brand btn btn-outline-light">
                        <img src="~/Media/house.svg" width="30" height="30" alt="Home">
                    </button>
                </form>
                <form action="@Url.Action("GoToSearch", "MainSearch")">
                    <button type="submit" class="navbar-brand btn btn-outline-light">
                        <img src="~/Media/search.svg" width="30" height="30" alt="Search">
                    </button>
                </form>
                <form action="@Url.Action("SendToPost", "Post")">
                    <button type="submit" class="navbar-brand btn btn-outline-light">
                        <img src="~/Media/plus.svg" width="30" height="30" alt="Post">
                    </button>
                </form>
                <form action="@Url.Action("ViewAccount", "User")">
                    <button type="submit" class="navbar-brand btn btn-outline-light">
                        <img src="~/Media/person.svg" width="30" height="30" alt="View Account">
                    </button>
                </form>
            </nav>
        </footer>
    </div>

    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/bundles/jquery.js" asp-append-version="true"></script>
    <script src="~/bundles/bootstrap.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
