@model SoundSee.ViewModels.UserViewModel
@{
    ViewBag.Title = "Confirm your Account details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Confirm your Account details</h2>

<div>
    <p class="form-label mt-4"><b>Email:</b> @Model.User.Email</p>
    <p class="form-label mt-2"><b>Username:</b> @Model.User.Username</p>

</div>
@using (Html.BeginForm("EditUser", "User", FormMethod.Post))
{
    @Html.HiddenFor(model => model.User.Email)
    @Html.HiddenFor(model => model.User.Username)
    @Html.HiddenFor(model => model.User.Password)
    @Html.HiddenFor(model => model.User.SignUpForNewsletters)

    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">SoundSee</h1>
        <p class="lead">Start communicating in a new way</p>
        <div class="row row-cols-2">
            <section class="col-md-2">
                <button type="submit" class="btn btn-primary btn-mds">Edit</button>
            </section>
            <section class="col-md-2">
                <p><a href="" class="btn btn-primary btn-md">Continue</a></p>
            </section>
        </div>
    </section>
}