<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" type="image/x-icon" href="~/Media/favicon.ico">
</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <nav class="navbar navbar-light mt-0" style="background-color: #ffffff65; padding-left: 2em; padding-right: 2em;">
            <a class="navbar-brand" href="#">
                <img src="~/Media/house.svg" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand" href="#">
                <img src="~/Media/search.svg" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand" href="#">
                <img src="~/Media/plus.svg" width="30" height="30" alt="">
            </a>
            <a class="navbar-brand" href="@Url.Action("ViewAccount", "User")">
                <img src="~/Media/person.svg" width="30" height="30" alt="">
            </a>
        </nav>
        <footer class="mt-2">
            <p>&copy; @DateTime.Now.Year - SoundSee</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
