@model SoundSee.ViewModels.PostNUserViewModel
@{
    ViewData["Title"] = "View Account";
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
    int i = 0;
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (window.location.hash) {
            var element = document.querySelector(window.location.hash);
            if (element) {
                element.scrollIntoView({ behavior: 'smooth' });
            }
        }
    });
</script>

<!-- Navbar -->
<div class="mb-2 fixed-top">
    <nav class="navbar navbar-light mt-0" id="topSignedInBar">
        <a class="navbar-brand" href="#">
            <img src="~/Media/qr-code.svg" width="25" height="25" alt="share">
        </a>
        <div>
            <a class="navbar-brand" style="font-family:monospace; font-weight:bold;" href="#">@Context.Session.GetString("User")</a>
            <img src="@Url.Action("DisplayProfilePhoto", "User")" width="30" height="30" alt="User profile photo">
        </div>
        <a class="navbar-brand" href="@Url.Action("ViewAccount", "User")">
            <img src="~/Media/gear.svg" width="25" height="25" alt="settings">
        </a>
    </nav>
</div>

<!-- Main profile info -->
<!-- This is ok for now. Not too good though -->
<div class="row">
    <div class="col-6 col-lg-3">
        <img class="mt-5 col" src="@Url.Action("DisplayProfilePhoto", "User")" style="height:12em;width:14em;" />
    </div>
    <div class="mt-5 m-2 col">
        <h3>@Context.Session.GetString("User")</h3>
        <small>Account type: @Model.UserVM.User.PublicOrPrivateAcc</small>

        <!-- Need to create notifications -->
        <br />
        <img src="~/Media/bellIcon.png" class="mt-1" alt="Bell Icon" width="45em" />
        <p id="notificationAmount"></p>
        <div class="overflow-y: scroll mt-1">
            <a href="">
            </a>
        </div>
    </div>
</div>

<!-- Posts -->
<!-- Still needs improvements but good for now -->
<div class="container mt-2">
    @if (Model.PostVMList.Count() != 0)
    {
        <div class="row">
            @for (i = 0; i < Model.PostVMList.Count(); i++)
            {
                var post = Model.PostVMList[i];

                <div class="col-sm-6 col-md-4 p-0 mb-1 d-flex flex-column">
                    <div style="border: 1px solid #b6b6b6; border-radius:8px" class="m-1">
                        <a href="@Url.Action("DisplayProfileFeed", "MassPost", new {userId = Model.UserVM.User.Id})#post-@i" style="text-decoration:none;">
                            @if (string.IsNullOrEmpty(post.ViewModelImage0))
                            {
                            <div>
                                <p class="m-1 postTitle">@post.Post.Title</p>
                                <p style="width:90%;" class="m-1">@post.Post.Description</p>
                            </div>
                            }
                            else
                            {
                             <div>
                                <img style="height:12em;width:12em;" class="postImage img-fluid" src="data:image/jpeg;base64,@post.ViewModelImage0" alt="Post Image @i" />
                                <p class="m-1 postTitle">&nbsp;@post.Post.Title</p>
                                <p style="width:90%;" class="m-1">@post.Post.Description</p>
      
                            </div>
                            }
                        </a>

                        <button onclick="" class="btn btn-secondary w-100 commentBtn">Comments</button>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p class="m-4"><a href="@Url.Action("SendToPost", "Post")">Create a post</a> to be able to see posts of yours!</p>
    }
</div>
