@model SoundSee.ViewModels.PostNUserViewModel
@{
    ViewData["Title"] = "View Account";
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
    int i = 0;
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (window.location.hash) {
            var element = document.querySelector(window.location.hash);
            if (element) {
                element.scrollIntoView({ behavior: 'smooth' });
            }
        }
    });
    function showHiddenDiv() {
        var x = document.getElementById("hiddenDiv");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    function showHiddenDiv2() {
        var x = document.getElementById("hiddenDiv2");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

<!-- Navbar -->
<div class="mb-2 fixed-top">
    <nav class="navbar navbar-light mt-0" id="topSignedInBar">
        <a class="navbar-brand" href="#">
            <img src="~/Media/qr-code.svg" width="25" height="25" alt="share">
        </a>
        <div>
            <a class="navbar-brand" style="font-family:monospace; font-weight:bold;" onclick="showHiddenDiv2()">@Context.Session.GetString("User")</a>
            <img src="@Url.Action("DisplayProfilePhoto", "User")" width="30" height="30" alt="User profile photo">
        </div>
        <a onclick="showHiddenDiv2()" class="navbar-brand" href="@Url.Action("SeeMainSettingsPage", "Settings")">
            <img src="~/Media/gear.svg" width="25" height="25" alt="settings">
        </a>
    </nav>
</div>

<!-- Main profile info -->
<!-- This is ok for now. Not too good though -->
<div class="row">
    <a class="col-5 col-md-4 col-lg-2">
        <div>
            <img class="mt-5 col img-fluid" src="@Url.Action("DisplayProfilePhoto", "User")" />
        </div>
    </a>

    <!-- Hidden div for signing out -->
    <div id="hiddenDiv2" class="p-0 mt-5 notification-overlay text-center">
        <a href="@Url.Action("Logout", "User")" class="m-1 btn btn-danger">Sign Out</a>
    </div>

    <div class="mt-5 m-2 col">
        <h3>@Context.Session.GetString("User")</h3>
        <small>Account type: @Model.UserVM.User.PublicOrPrivateAcc</small>

        <!-- Notifications -->
        <br />
        <p id="notificationAmount"></p>
        <div class="overflow-y: scroll mt-1">
            <a style="text-decoration:none;" onclick="showHiddenDiv()">
                <img src="~/Media/bellIcon.png" class="mt-1" alt="Bell Icon" width="45em" />
                    @if (Model.NotificationVMList.Count() != 0)
                    {
                    <small>
                        @Model.NotificationVMList.Count()*
                    </small>

                    } 
                    else
                    {
                    <small>0</small>
                    }
            </a>
        </div>

        <!-- Hidden div to show notifications -->
        <div id="hiddenDiv" style="width:fit-content;" class="m-1 mt-5 notification-overlay">
            @if (Model.NotificationVMList.Count() != 0)
            {
                <div class="row">
                    @foreach (var NotificationVM in Model.NotificationVMList)
                    {
                        <div class="m-1 d-flex">
                            <div>
                                <img src="data:image/jpeg;base64,@NotificationVM.ReqUser.UserImage" width="30" height="30" style="border-radius:25px;" alt="User profile photo">&nbsp;&nbsp;
                            </div>
                            <div>
                                <p>@NotificationVM.ReqUser.Username wants to <b>Follow</b> you &nbsp;</p>
                            </div>

                            <a href="@Url.Action("AcceptFollowReq", "FollowReq", new { requestUserId = NotificationVM.ReqUser.Id, userID = Model.UserVM.User.Id })">
                                <img src="/Media/YES.png" width="30" height="30" style="border-radius:25px;" alt="User profile photo">
                            </a>
                            &nbsp;|&nbsp;
                            <a href="@Url.Action("DenyFollowReq", "FollowReq", new { requestUserId = NotificationVM.ReqUser.Id, userID = Model.UserVM.User.Id })">
                                <img src="/Media/NO.png" width="30" height="30" style="border-radius:25px;" alt="User profile photo">
                            </a>
                        </div>
                    }
                </div>
            }
            else
            {
                <div class="row m-1 mb-0 blackColor">
                    <p>No Notifications to show!</p>
                </div>
            }
        </div>

    </div>
</div>

<!-- Posts -->
<!-- Still needs improvements but good for now -->
<div class="container mt-2">
    @if (Model.PostVMList.Count() != 0)
    {
        <div class="row">
            @for (i = 0; i < Model.PostVMList.Count(); i++)
            {
                var post = Model.PostVMList[i];

                <div class="col-sm-6 col-md-4 p-0 mb-1 d-flex flex-column">
                    <div style="border: 1px solid #b6b6b6; border-radius:8px" class="m-1">
                        <a href="@Url.Action("DisplayProfileFeed", "MassPost", new {userId = Model.UserVM.User.Id, type = 0})#post-@i" style="text-decoration:none;">
                            @if (string.IsNullOrEmpty(post.ViewModelImage0))
                            {
                            <div>
                                <p class="m-1 postTitle">@post.Post.Title</p>
                                <p style="width:90%;" class="m-1">@post.Post.Description</p>
                            </div>
                            }
                            else
                            {
                             <div>
                                <img style="height:12em;width:12em;" class="postImage img-fluid" src="data:image/jpeg;base64,@post.ViewModelImage0" alt="Post Image @i" />
                                <p class="m-1 postTitle">&nbsp;@post.Post.Title</p>
                                <p style="width:90%;" class="m-1">@post.Post.Description</p>
      
                            </div>
                            }
                            <p class="m-1"><b>Posted:</b>@post.Post.PostDate</p>
                        </a>

                        <button onclick="" class="btn btn-secondary w-100 commentBtn">Comments</button>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p class="m-5"><a href="@Url.Action("SendToPost", "Post")">Create a post</a> to be able to see posts of yours!</p>
    }
</div>