@model SoundSee.ViewModels.PostNUserViewModel;
@{
    ViewData["Title"] = $"{Model.UserVM.User.Username} Profile";
    Layout = "~/Views/Shared/_SignInLayout.cshtml";
    int i = 0;
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (window.location.hash) {
            var element = document.querySelector(window.location.hash);
            if (element) {
                element.scrollIntoView({ behavior: 'smooth' });
            }
        }
    });

    var button = document.getElementById("")
</script>

<!-- Navbar -->
<div class="mb-2 fixed-top">
    <nav class="navbar navbar-light mt-0" id="topSignedInBar">
        <a class="navbar-brand" href="@Url.Action("GoToSearch", "MainSearch")">
            <img src="~/Media/chevron-double-left.svg" width="30" height="30" alt="Search">
        </a>
        <div>
            <a class="navbar-brand" style="font-family:monospace; font-weight:bold;" href="#">@Model.UserVM.User.Username</a>
            <img src="data:image/jpeg;base64,@Model.UserVM.UserImage" width="30" height="30" alt="@Model.UserVM.User.Username's profile photo">
        </div>
        <a class="navbar-brand" href="@Url.Action("ViewAccount", "User")">
            <img src="~/Media/gear.svg" width="25" height="25" alt="settings">
        </a>
    </nav>
</div>

<!-- This is ok for now. Not too good though -->
<div class="row">
    <div class="col-6 col-lg-3">
        <img class="mt-5 col" src="data:image/jpeg;base64,@Model.UserVM.UserImage" style="height:12em;width:14em;" />
    </div>
    <div class="mt-5 m-2 col">
        <h3>@Model.UserVM.User.Username</h3>
        <small>@Model.UserVM.User.PublicOrPrivateAcc Account</small>

        <br />
        <div class="mt-1">
            @if(Model.UserVM.User.PublicOrPrivateAcc == "Public")
            {
                @if (Model.Requested == "Y")
                {
                    <a class="btn btn-secondary" href="@Url.Action("UnFollowUser", "FollowReq", new { selectedId = Model.UserVM.User.Id})">Un-Follow</a>
                }
                else
                {
                    <a class="btn btn-primary" href="@Url.Action("FollowUser", "FollowReq", new { selectedId = Model.UserVM.User.Id})">Follow</a>
                }
            }
            else
            {
                if (Model.Requested == "F")
                {
                    <a class="btn btn-secondary" href="@Url.Action("UnFollowUser", "FollowReq", new { selectedId = Model.UserVM.User.Id})">Un-Follow</a>
                }
                if (Model.Requested == "Y")
                {
                    <p class="btn btn-secondary"><i>Requested</i></p>
                }
                else
                {
                    <a class="btn btn-primary" href="@Url.Action("ProcessFollowReq", "FollowReq", new { selectedId = Model.UserVM.User.Id})">Request to Follow</a>
                }
            }
        </div>
    </div>
</div>

<!-- Still needs improvements but good for now (shows the posts) -->
@if (Model.UserVM.User.PublicOrPrivateAcc == "Public" || Model.UserVM.User.PublicOrPrivateAcc == "Private" && Model.Requested == "F")
{

    <div class="container mt-2">
        @if (Model.PostVMList.Count() != 0)
        {
            <div class="row">
                @for (i = 0; i < Model.PostVMList.Count(); i++)
                {
                    string tempImage = Model.PostVMList[i].ViewModelImage0;
                    var post = Model.PostVMList[i];

                    <div class="col-sm-6 col-md-4 p-0 mb-1 d-flex flex-column">
                        <div style="border: 1px solid #b6b6b6; border-radius:8px" class="m-1">
                            <a href="@Url.Action("DisplayProfileFeed", "MassPost", new {userId = Model.UserVM.User.Id})#post-@i" style="text-decoration:none;">
                                @if (string.IsNullOrEmpty(post.ViewModelImage0))
                                {
                                    <div>
                                        <p class="m-1 postTitle">@post.Post.Title</p>
                                        <p style="width:90%;" class="m-1">@post.Post.Description</p>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <img style="height:12em;width:12em;" class="postImage img-fluid" src="data:image/jpeg;base64,@tempImage" alt="Post Image @i" />
                                        <p class="m-1 postTitle">&nbsp;@post.Post.Title</p>
                                        <p style="width:90%;" class="m-1">@post.Post.Description</p>

                                    </div>
                                }
                            </a>

                            <button onclick="" class="btn btn-secondary w-100 commentBtn">Comments</button>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <p class="m-4"><b>@Model.UserVM.User.Username</b> has not created any posts yet!</p>
        }
    </div>
}
else
{
    <p class="m-3">Please <b>Request to Follow</b> this user to see thier posts</p>
}